@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body{
    font-family: 'Pretendard-Regular';
}

header{
    background-color: black;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    color: white;
    z-index: 99;
}

header nav{
    display: flex;
}

header nav #logo{
    font-size: 30px;
    margin: 5px 150px 0 20px;
}

#MainMenu{
    display: flex;
    color: white;
    position: absolute;
    right: 20px;
    top: 0;
}

#MainMenu li{
    border: solid 1px yellow;
    margin: 8px 20px;
    padding: 5px 20px;
}

#MainMenu li:nth-last-child(1){
    border: solid 1px rgb(222, 0, 0);
    margin: 8px 20px 8px 50px;
    padding: 5px 20px;
}

.sectionWrap{
    width: 100vw;
    height: 100vh;
}

#HamMenu{
    display: none;
}

.titleBtn{border: solid 1px #555555; width: 115px; text-align: center; border-radius: 50px; padding: 3px; margin-bottom: 50px;}


.textBox{padding: 70px 120px; }

.pointText{color: #FF9838; font-weight: 900;}

/* 섹션 1 */

#sec01{
    background-image: url('../img/PAGE1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#MainText{
    border: solid 1px red;
    position: absolute;
    top: 30%;
    left: 5%;
}

#sec01_h4{color: rgb(255, 187, 92);}
#sec01_title{font-size: 100px; color: rgb(255, 149, 0); padding-bottom: 50px;}
#sec01_text{font-size: 30px;}

/* 섹션 2 */
#sec02 {text-align: center;}
#sec02 img{
    margin-top: 80px;
    width: 70vw;
}


/* 섹션 3 */
#sec03{width: 100vw; height: 500px; position: relative; box-shadow: 12px 12px 2px 1px rgba(209, 209, 209, 0.2);}


#pos0{ position: absolute; right:115px; bottom: 0; }
#pos1{ position: absolute; right:515px; bottom: 30px; }
#pos2{ position: absolute; right:745px; bottom: 0; }
#pos3{ position: absolute; right:345px; bottom: 0; }
#pos4{ position: absolute; right:575px; bottom: 0; }

.textBox p{padding-top: 30px;}
.textBox h2{line-height: 45px; color: #FF9838; font-weight: bold;}


/* 섹션 4 */

#sec04{height: 1277px;}

#surveyImg{text-align: center;}
#surveyImg img{ margin-bottom: 200px;}



/* 섹션 5 */

#sec05{
    position: relative;
}

.imgSec{
    width: 17vw;
    height: 100vh;
    margin-left: 10px;
    border: solid 1px white;
    display: inline-block;
    float: right;
    color: white;
    text-align: center;
    line-height: 100vh;

}

#backGround{
    position: absolute;
    bottom: 100px;
    left: 50px;
    color: white;
}

#backGround h2{
    padding-bottom: 50px;
}



/* 섹션 5 */



 /* 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) { 
    header{ background-color: rgb(0, 255, 34);}
    header nav #logo{margin: 5px 50px 0 20px;}

    /* 섹션 1 */

    #MainText{left: 30%; text-align: center;}

    /* 섹션 4 */

    #image{position: absolute; bottom: 0;}
    .imgSec{
        width: 100vw;
        height: 20vh;
        margin-top: 10px;
        margin-left: 0;    
        line-height: 20vh;
    }

    #backGround{
        position: absolute;
        top: 80px;
        left: 50px;
        color: white;
    }

} 
  
 /* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:767px) {
    header{ background-color: rgb(0, 68, 255);}
    #MainMenu{display: none;}
    #HamMenu{width: 40px; height: 40px; margin: 5px; border: 1px red; background-color: white; display: block; position: absolute; right: 0;}

    /* 섹션 1 */
    #MainText{text-align: center; display: block; position: inherit; margin-top: 100px;}

        /* 섹션 4 */

        #image{position: absolute; bottom: 0;}
        .imgSec{
            width: 100vw;
            height: 20vh;
            margin-top: 10px;
            margin-left: 0;    
            line-height: 20vh;
        }
    
        #backGround{
            position: absolute;
            top: 80px;
            left: 20px;
            color: white;
        }

        #backGround p{font-size: 13px;}
        #backGround h2{
            padding-bottom: 30px;
        }
} 

 
